/* @import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css); */
/* @import url('/fonts/bahij.ttf');
@import url('/fonts/bold.otf'); */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&display=swap');
@font-face {
  font-family: 'bahij';
  /* src: url('/fonts/bahij/bahij.ttf'); */
  src: url('/src/fonts/bahij/bahij.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'bahij';
  /* src: url('/fonts/bahij/bold.ttf'); */
  src: url('/src/fonts/bahij/bold.ttf');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  /* font-family: 'Droid Arabic Kufi', serif !important; */
  font-family: 'bahij', 'Cairo', sans-serif !important;
  direction: rtl;
  text-align: right !important;
  /* background-color: #f5f2ef; */
  /* overflow-y: hidden !important; */
  /* overflow-x: hidden !important; */
  /* scrollbar-width: none;
  position: relative; */
  /* float: left; */
}
#root {
  overflow-x: hidden !important;
  /* background-color: #f5f2ef; */
}
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background-color: rgb(214, 214, 214);
  box-shadow: inset 0 0 6px rgb(213, 213, 213);
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-left: 0.5px solid black;
  outline: 1px solid slategrey;
}

/* input::placeholder {
  color: #ddd;
}
input {
  border: 1px solid #eee !important;
  border-color: #eee !important;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit !important;
}

.detail-image {
  /* Location of the image */

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center !important;

  /* Background image doesn't tile */
  background-repeat: no-repeat !important;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  /* background-attachment: fixed !important; */

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover !important;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646 !important;
  /* border-bottom-left-radius: 70% 60px;
  border-bottom-right-radius: 30% 10px; */
}

::selection {
  background: rgb(239, 252, 2);
  color: #000000;
  text-shadow: none;
}

.rec-dot_active {
  background-color: rgb(255 255 255 / 50%) !important;
  box-shadow: 0 0 1px 3px rgb(255 255 255) !important;
}
.rec-dot {
  box-shadow: 0 0 1px 2px rgb(255 255 255 / 50%) !important;
}
.rec.rec-arrow:hover {
  border-radius: 50%;
  background-color: #ffffff !important;
  color: #000 !important;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #706e6e;
  border-color: #706e6e;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #706e6e;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #706e6e;
  border-color: #706e6e;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #706e6e;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}

.event-body {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.book-description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* .facebook {
  transition: width 0.3s ease-out;
  position: relative;
}

.facebook:hover {
  transform: translate(-30px, 0);
  transition: width 0.3s ease-out;

  width: 100px;
}
.twitter {
  transition: transform 0.3s ease-out;
}

.twitter:hover {
  transform: translate(-30px, 0);
}
.youtube {
  transition: transform 0.3s ease-out;
}

.youtube:hover {
  transform: translate(-30px, 0);
}
.linkedin {
  transition: transform 0.3s ease-out;
}

.linkedin:hover {
  transform: translate(-30px, 0);
}
.whatsapp {
  transition: transform 0.3s ease-out;
}

.whatsapp:hover {
  transform: translate(-30px, 0);
} */
/*
.main:hover {
  background-color: white;

  color: black;
  transition: background-color 0.5s, color 0.5s;
}
.shop:hover {
  background-color: white;

  color: black;
  transition: background-color 0.5s, color 0.5s;
}
.center:hover {
  background-color: white;

  color: black;
  transition: background-color 0.5s, color 0.5s;
}
.journal:hover {
  background-color: white;

  color: black;
  transition: background-color 0.5s, color 0.5s;
} */

.quote {
  margin: 0;
  background: #eee;
  padding: 1em;
  border-radius: 1em;
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
}

.a-special:hover {
  text-decoration: underline;
  color: rgb(82, 82, 20);
}

@media only screen and (min-width: 1600px) {
  .main-logo {
    width: 500px !important;
    margin-right: 50px;
  }
}
@media only screen and (min-width: 1600px) {
  .padding {
    padding-left: 25% !important;
    padding-right: 25% !important;
  }
}
@media only screen and (max-width: 1600px) {
  .padding {
    padding-left: 20% !important;
    padding-right: 20% !important;
  }
}
